{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'turk/css/style.css' %}" />
<script type="text/javascript" src="{% static 'turk/js/jquery-3.1.1.min.js' %}"></script>


<div id="warning">
    Do not navigate away from or refresh the page until you have completed all
    tasks and the exit survey to receive your code. Leaving or refreshing the
    page <b>will</b> prevent you from completing this HIT.
</div>

<div>
    <p>
        Below is the task that needs to be automated. The bot should create an applet
        to automate this task.
    </p>
    <p>
        The short and long task descriptions <b>might be vague</b>. To help you understand the task, we have
        provided some hints about when the applet should run and what should it do when it runs.
    </p>

</div>
<hr>
<div>
    <h3>TASK DESCRIPTION:</h3>
    <p><u>Short Description:</u> <i>"{{ short_description }}"</i></p>
    <p><u>Long Description:</u> <i>"{{ long_description }}"</i></p>
    <div>
        <p>When should the applet run?<br>When <b><i>{{ trigger_fn }}</i></b> on the service named <b><i>{{ trigger_channel }}</i></b>.</p>
        <p>What should the applet do when it runs?<br>It should <b><i>{{ action_fn }}</i></b> on the service named <b><i>{{ action_channel }}</i></b>.</p>
    </div>
    <hr/>
    <div>
        <p>
            When you have understood the task well, press "Continue" below to start chatting with the bot to describe the task.
        </p>
        <p id="timer"></p>
    </div>
    <button type="button" id="continue" value="Continue">Continue</button>
</div>

<script type="text/javascript" src="{% static 'turk/js/utils.js' %}"></script>
<script>
   var actual_conversation_url = "{% url 'turk:actual_conversation' %}";
   var code_url = "{% url 'turk:code' %}";
</script>
<script type="text/javascript" src="{% static 'turk/js/actual-task.js' %}"></script>